
<div class="panel panel-default">
  <div class="row panel-body" style="text-align:center">
    <div class="row" style="margin-bottom:10px">
      <div class="col-xs-4">
        <p><a> About </a></p>
       </div>
       <div class="col-xs-4">
         <p><a href="https://line.me/R/ti/p/@qer6098s"> Line </a></p>
       </div>
       <div class="col-xs-4">
         <p><a href="https://twitter.com/noompangcom?lang=en"> Twitter </a></p>
       </div>
     </div>
     <div class="row" style="margin-bottom:10px">
       <div class="col-xs-6">
         <p><a href="https://www.instagram.com/noompangcom/?hl=en"> Instagram </a></p>
       </div>
       <div class="col-xs-6">
         <p><a href="https://www.facebook.com/noompangcom"> Facebook</a></p>
       </div>
     </div>
     <div class="col-xs-12" style="border-top:0.5px solid; border-color:#e6e6e6">
      <p class="about-panel" style="color:#666666;padding-top:8px;">© 2017 Noompang</p>
    </div>
  </div>
</div>
