<div class="panel panel-default">
  <div class="panel-body">
     <p class="about-panel">© 2017 Noompang
     <a> About </a>
     <a> Help </a>
     <a> Terms </a>
     <a> Privacy </a>
     <a> Cookies </a>
     <a> Ads </a>
     <a> Info </a>
     <a> Brand </a>
     <a> Blog </a>
     <a> Status </a>
     <a> Apps </a>
     <a> Jobs </a>
     <a> Advertise </a></p>

  </div>
</div>
