
<div class="panel panel-default">
  <div class="panel-body">
     <p class="about-panel">© 2017 Noompang</p>
     <p><a> About </a>
     <a href="https://www.facebook.com/noompangcom"> Facebook </a>
     <a href="https://twitter.com/noompangcom?lang=en"> Twitter </a>
     <a href="https://www.instagram.com/noompangcom/?hl=en"> Instagram </a>
     <a href="https://line.me/R/ti/p/@qer6098s"> Line</a></p>
  </div>
</div>
