<div class="col-xs-12">
  <ul id="panel-about">
    <li> About · </li>
    <li><a style="color: #8a8f9c" href="https://line.me/R/ti/p/@qer6098s"> Line · </a></li>
    <li><a style="color: #8a8f9c" href="https://twitter.com/noompangcom?lang=en">  Twitter · </a></li>
    <li><a style="color: #8a8f9c" href="https://www.instagram.com/noompangcom/?hl=en">  Instagram · </a></li>
    <li><a style="color: #8a8f9c" href="https://www.facebook.com/noompangcom">  Facebook </a></li>
    <li> © 2017 Noompang </li>
  </ul>
</div>
