
      <% if current_user.id != user.id %>
        <% if !current_user.friend_with? user and !current_user.invited? user and !user.invited? current_user %>
          <%= link_to "Add Friend", add_friend_path(user.id), class: "btn-inverse friends-text-btn", style: "padding: 4px 4px;text-decoration:none" %>
        <% elsif current_user.friend_with? user %>
          <span><span class="glyphicon glyphicon-ok friends-text-btn" aria-hidden="true"></span> Friends</span>
        <% elsif current_user.invited? user %>
          <button class="btn-accept friends-text-btn" style="padding: 2px">Pending...</button>
        <% elsif %>
          <%= link_to "Accept", accept_friend_path(user.id), class: "btn-accept friends-text-btn", style: "padding: 4px 4px; text-decoration:none"%>
        <% end %>
      <% else %>
      <div class="btn btn-xs btn-success friends-text-btn" style="padding-left: 8px; padding-right:8px ">me! </div>
      <% end %>
