<% if current_user.id != user.id %>
  <% if !current_user.friend_with? user and !current_user.invited? user %>
    <%= link_to "Add Friend", add_friend_path(user.id) %>
  <% elsif current_user.friend_with? user %>
    <span>Friend<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
  <% elsif current_user.invited? user %>
    <span>Pending</span>
  <% end %>
<% end %>
