<% if current_user.id != user.id %>
  <div class="panel panel-default">
    <div class="panel-body">
      <center>
        <% if !current_user.friends_with?(user) %>
          
          <%= link_to "Add Friend", add_friend_path(user.id) %>
          
        <% else %>
          
          
        <% end %>
      </center>
      
    </div>
  </div>
<% end %>