<style>
.dir a {
  color: white;
}

</style>

<div style="margin: 150px 0 200px 0; font-weight: 300; text-align: center; color:white;">
<div class="dir col-xs-3">
  <a href="../"> About us </a>
</div>
<div class="dir col-xs-3">
  <a href="/about/how_it_works"> How it works </a>
</div>
<div class="dir col-xs-3">
  <a href="/about/safety"> Safety </a>
</div>
<div class="dir col-xs-3">
  <a href="/about/faq"> FAQ </a>
</div>
</div>
