<style>
.dir a {
  color: white;
}
</style>

<div style="margin: 150px 0 200px 0; font-weight: 100; text-align: center; color:white;">
<div class="dir col-xs-3">
  <a href="../about-us.html"><p> About us </p></a>
</div>
<div class="dir col-xs-3">
  <a href="../how-it-works.html"><p> How it works </p></a>
</div>
<div class="dir col-xs-3">
  <a href="../stories.html"><p> Stories </p></a>
</div>
<div class="dir col-xs-3">
  <a href="../FAQ.html"><p> FAQ </p></a>
</div>
</div>
