<style>
.dir a {
  color: white;
}

</style>

<div style="margin: 150px 0 200px 0; font-weight: 300; text-align: center; color:white;">
<div class="dir col-xs-3">
  <a href="../"> About us </a>
</div>
<div class="dir col-xs-3">
  <a href="../how-it-works.html"> How it works </a>
</div>
<div class="dir col-xs-3">
  <a href="../stories.html"> Stories </a>
</div>
<div class="dir col-xs-3">
  <a href="../FAQ.html"> FAQ </a>
</div>
</div>
