<div style="margin: 150px 0 200px 0; font-weight: 100; text-align: center; color:white;">
<div class="col-xs-3">
  <p> About us </p>
</div>
<div class="col-xs-3">
  <p> How it works </p>
</div>
<div class="col-xs-3">
  <p> Stories </p>
</div>
<div class="col-xs-3">
  <p> Faq </p>
</div>
</div>
