<% if not recommended_friends.empty? %>
  <div class="panel panel-default">
    <div class="panel-body">
        <p class="post-destination">Recommended Friends</p>
        <% for friend in recommended_friends %>
          <hr>
          <div class="row">
            <div class="col-sm-2">
              <%= image_tag friend.profile.avatar.url(:thumb), class: "avatar img-rounded" %>
            </div>
            <div class="col-sm-8">
              <span class="post-title"><a href="/user/<%= friend.username %>"><%= friend.username %></a></span>
              <br>
              <span class="post-title"><%= render '/components/add_friend_button', user: friend %></span>
            </div>
          </div>
        <% end %>
    </div>
  </div>
<% end %>
