<% if not recommended_friends.empty? %>
  <div class="panel panel-default">
    <div class="panel-body">
        <p class="post-destination">Recommended Friends</p>
        <% for friend in recommended_friends %>
          <hr>
          <div class="row">
            <div class="col-xs-2">
              <%= image_tag friend.profile.avatar.url(:thumb), class: "avatar-recommended img-rounded", style: "border-radius:50%;" %>
            </div>
            <div class="col-xs-10" style="padding-top:10px">
              <span class="post-title"><a href="/user/<%= friend.username %>"><%= friend.username %></a></span>
            
              <span class="post-title" style="float:right;"><%= render '/components/add_friend_button', user: friend %></span>
            </div>
          </div>
        <% end %>
    </div>
  </div>
<% end %>
