<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2"><img src="/avatar.jpg" height="40px" width="40px" class="rounded-img"></div>
      <div class="col-sm-10"><h4><%= user.username %></h4></div>
      <div class="col-sm-12" style="margin-top: 10px;">
        <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">RIDES<br>
          <h6><%= user.posts.count %></h6>
        </div>
        <div class="col-sm-6" style="font-size: 80%; opacity: 0.7;">FRIENDS<br>
          <h6><%= user.friends.count %></h6>
        </div>
      </div>
    </div>
  </div>
</div>
