<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>All Conversations</h1>
        <hr>
        <div class="pull-right">
          <%= link_to new_conversation_path do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </div>
        <% @conversations.each do |conversation| %>
          <div>
            <%= link_to conversation.subject, conversation_path(conversation) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
