<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 style="text-align:center; font-weight: 400;">All Conversations</h4>
        <hr>
        <div class="pull-right">
          <%= link_to new_conversation_path do %>
            <span class="glyphicon glyphicon-plus"></span>
          <% end %>
        </div>
        <% @conversations.each do |conversation| %>
          <div>
            <%= link_to conversation.subject, conversation_path(conversation) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
