<% if !user_signed_in? %>
  <div class="headerbg">
    <div class="container">
      <div class="nav nav-landing">
          <div class="logo-container">
          <a href="about-us.html">
            <img class="img-landing" class="logoleft" alt="noompang" src="images/noompanglogo50px.png">
          </a>
        </div>

          <ul class="nav-links">
            <li> <a href="about-us.html"> ABOUT US </a> </li>
            <li> <a href="how-it-works.html"> HOW IT WORKS </a> </li>
            <li> <a href="stories.html"> STORIES </a> </li>
            <li> <a href="faq.html"> FAQ </a> </li>
          </ul>
          <ul class="nav-sign">
            <li> <a href="#"> LOGIN </a> </li>
            <li> <a href="#"> SIGN UP </a> </li>
          </ul>

      </div>
      <% flash.each do |key, value| %>
        <div class="alert alert-info alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class="col-md-8 col-xs-12">
        <div class="ridesharetext">
          <p> Berbagi kendaraan biar makin gampang! </p>
        </div>
      </div>

      <div class="col-md-4 col-xs-12">
        <div class="log-in panel">
          <%= render '/devise/sessions/new'%>
        </div>
        <div class="sign-up panel">
          <%= render '/devise/registrations/new'%>
        </div>
      </div>

    </div>
  </div>

  <div class="row connectrow">
    <div class="container">
      <div class="ridesharenetwork col-lg-6 col-md-6">
        <img class="img-landing" src="images/ridesharenetwork.png">
    </div>
      <div class="col-lg-6 col-md-6">
        <img class="img-landing" src="images/shareweb.png">
      </div>
    </div>
  </div>

  <div class="row weconnect">
    <div class="container">
      <div class="row">
        <div class="timeline col-lg-6 col-md-6 col-xs-12">
          <img class="img-landing" class="maxh" src="images/timeline.png">
        </div>
        <div class="connect col-lg-6 col-md-6 col-xs-12">
          <p> Connect with your friends. <p>
        </div>
      </div>
    </div>
  </div>

  <div class="photopar body-landing">
    <div class="txtpar">
        <p> RIDE WITH NOOMPANG </p>
    </div>
    <div class="txtpar2">
        <p> Thousands of people has join noompang.
          Connect with us and we will connect you with your friends.</p>
    </div>
  </div>


  <div class="row ttgnmpg body-landing">
    <div class="container ">
      <div class="goal">
        <h1> WHAT'S OUR GOAL? </h1>
      </div>
      <div class="ourgoal">
        <h2> Creating community in mutualism atmosphere. </h2>
      </div>
      <div class="nmpgis">
        <p>People. Community. Energy.</p>
        <p>Noompang is a future community for people to take action in sustainable development. This platform aims to encourage people to ride together and take all the benefits of sharing. Not only connecting people, Noompang also connecting distance between two cities with less energy needed. We are here to take the action, are you?</p>
      </div>
      <div class="socmed">
        <p> Connect to our social media. </p>
      </div>
    <div class="container">
      <div class="col-lg-2 col-md-2 col-sm-2">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 cont-social">
      <img class="img-landing" src="images/twitterc.jpg" onmouseover="this.src='images/twitterd.png'" onmouseout="this.src='images/twitterc.jpg'"/>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 cont-social">
        <img class="img-landing" src="images/facebookc.jpg" onmouseover="this.src='images/facebookd.png'" onmouseout="this.src='images/facebookc.jpg'"/>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6  cont-social">
        <img class="img-landing" src="images/instagramc.jpg" onmouseover="this.src='images/instagramd.png'" onmouseout="this.src='images/instagramc.jpg'"/>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6  cont-social">
        <img class="img-landing" src="images/linec.jpg" onmouseover="this.src='images/lined.png'" onmouseout="this.src='images/linec.jpg'"/>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 ">
    </div>
    </div>
  </div>
  </div>

  <div class="getstartedbg body-landing">
    <div class="getstarted">
      <h1> Start your journey now. </h1>
      <p> Make your deal, make your way. Free signup. </p>
    </div>
    <div class="btn-sign">
      <a href="#" class="btn btn-primary" role="button">SIGN UP</a>
    </div>
  </div>

  <div class="row footernmpg body-landing">
    <div class="container footermsg">
      <p>© 2017 Noompang.</p>
    </div>
  </div>
<% else %>
  <script>document.location = "/home"</script>
<% end %>
