<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>Friend Requests</h1>
        <% if !@requests.empty? %>
          <% for @r in @requests %>
            <hr>
            <div class="row">
              <div class="col-sm-1">
                <%= image_tag @r.profile.avatar.url(:thumb), class: "avatar img-rounded" %>
              </div>
              <div class="col-sm-11">
                <span class="post-title"><a href="/user/<%= @r.username %>"><%= @r.username %></a></span>
                <span class="pull-right"><%= link_to "Accept", accept_friend_path(@r.id) %></span>
              </div>
            </div>
          <% end %>
        <% else %>
          <hr>
          <p>There's no friend request yet!</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
