<div class="row">
  <div class="col-sm-3 col-xs-12">
    <%= render '/components/user_panel' %>
    <%= render '/components/profile_panel' %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <%= render '/components/post_form' %><br><br>
    <%= render '/components/rides', posts: @posts  %>
  </div>
  <div class="col-sm-3 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <p class="post-owner">About</p>
        <p>Noompang.com merupakan wadah untuk para pengemudi dan penumpang untuk berbagi kendaraan. Noompang akan membantu Anda dalam mencari teman agar perjalanan Anda lebih efektif, hemat biaya, dan menyenangkan</p>
        <p>Like facebook page kami di facebook.com/noompangcom</p>
        <p>Follow Official Line account kami di bit.ly/NoompangLine</p>
      </div>
    </div>
  </div>
</div>
