
    <%= render 'about_nav'%>
        <div class="container container-about-us">
          <div class="row about-section">
            <img class="about-img" src="/images/about/about-img.png" id="about-img"></img>
            <div style="height:600px">
                <%= render 'sidebar'%>
              <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="about-content">
                  <h2 class="page-header">About Us</h2>
                  <p style="font-weight:bold"> People. Community. Energy.</p>
                  <br>
                  <p>Noompang is a future community for people to take action in sustainable development. This platform aims to <b>encourage people to ride together </b>and take all the benefits of sharing. Not only connecting people, Noompang also connecting distance between two cities with less energy needed. We are here to take the action, are you?</p>
                  <br>
                  <h3> Carpool in Indonesia </h3>
                  <p> Jasa yang kami tawarkan merupakan sebuah platform berbagi kendaaraan antar kamu dan teman-teman kamu. Disini kamu dapat berbagi informasi mengenai rencana perjalananmu dan kamu juga dapat mendapatkan informasi mengenai perjalanan teman-temanmu.
                </div>
              </div>
            </div>
          </div>
        </div>
        

        <div class="row copyright">
          <p style="text-align:center; padding: 20px 0 40px 0;"> © Copyright 2017, Noompang, Inc. All rights reserved. </p>
        </div>
