
          <div class="container container-about-us">
            <div class="row about-section">
              <img class="about-img" src="/images/about/faq-img.png" id="about-img"></img>

                <%= render 'sidebar'%>
                  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="about-content" style="padding-bottom:50px;">
                    <h2 class="page-header">Frequently Asked Questions</h2>
                      <br>
                      <p style="font-weight:bold;"> Apa itu Noompang?</p>
                      <p>Noompang merupakan platform <i><b>carpooling</i></b> (berbagi kendaraan) di Indonesia. Noompang menghubungkan Anda dengan teman Anda dengan cara yang mudah dan menyenangkan. Anda cukup nge-Post jadwal kepergian Anda dan Anda juga dapat lihat jadwal teman-teman Anda.</p><br>

                      <p style="font-weight:bold;"> Apa bedanya dengan jasa transportasi lainnya?</p>
                      <p>Noompang merupakan aplikasi <b><i>carpool</b></i> (berbagi kendaraan) yang menghubungkan Anda dengan <b>teman-teman Anda</b>. Bukan sekedar driver melainkan <b>teman Anda sendiri.</b> Noompang percaya bahwa dengan memaksimalkan kursi kosong milik teman Anda dapat mengakhiri kemacetan yang tidak ada hentinya. </p><br>

                      <p style="font-weight:bold;"> Bagaimana cara menggunakan Noompang?</p>
                      <p>Cara menggunakan Noompang sangat mudah. Anda dapat lihat langkah-langkah menggunakan Noompang <a href="how_it_works">disini</a></p><br>

                      <p style="font-weight:bold;"> Berapa biaya yang dikeluarkan jika menggunakan Noompang? </p>
                      <p>Biaya yang Anda keluarkan tergantung dari kesepakatan kalian antara penoompang dan pemberi toompangan. Karena kami jejaring sosial, Noompang tidak akan mengenakan Anda biaya apapun.</p><br>

                      <p style="font-weight:bold;"> Cara pembayarannya seperti apa? </p>
                      <p>penoompang dapat langsung memberikan uang kas secara langsung kepada pemberi toompangan.</p><br>

                      <p style="font-weight:bold"> Saya baru daftar dan tidak ada teman di Noompang, bagaimana cara mendapatkan teman baru?</p>
                      <p> Tenang! Noompang memiliki algoritma khusus yang dapat menghubungkan kalian dengan teman-teman dekat kalian. Masuk ke aplikasi Noompang dan gunakan fitur <i><b> recommended friends </i></b>agar dapat langsung terhubung dengan teman-temanmu!</p><br>

                      <p style="font-weight:bold"> Apakah Noompang memiliki aplikasi mobile? </p>
                      <p> Saat ini tim kami sedang bekerja keras dalam mengembangkan aplikasi Noompang di berbagai platform. Saat ini Anda bisa menggunakan platfrom web kami dengan <a href="/users/sign_in">login</a> atau <a href="/users/sign_up">sign up</a> </p>
                      <br>

                      <p style="font-weight:bold"> Apakah Noompang aman? </p>
                      <p> Jelas aman! Noompang merupakan jejaring sosial berbagi kendaraan antara Anda dan teman-teman Anda </p>
                      <br>

                      <p style="font-weight:bold"> Apakah saya bisa Noompang dengan orang yang tidak dikenal?</p>
                      <p> Tidak bisa, di Noompang Anda hanya bisa melihat jadwal perjalanan teman-teman Anda saja. Semakin banyak teman, semakin banyak pilihan perjalanan yang bisa Anda toompangi. </p>
                      <br>

                      <p style="font-weight:bold"> Bagaimana kalau saya tidak memiliki kendaraan?</p>
                      <p> Noompang merupakan transaksi dua arah, Anda bisa berperan sebagai pemberi toompangan atau menjadi penoompang.  </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="row copyright">
            <p style="text-align:center; padding: 20px 0 40px 0;"> © Copyright 2017, Noompang, Inc. All rights reserved. </p>
          </div>
    <%= render 'about_nav'%>
