
        <div class="container container-about-us">
          <div class="row about-section">
            <img class="about-img" src="/images/about/about-img.png" id="about-img"></img>
            <div style="height:600px">
                <%= render 'sidebar'%>
              <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="about-content">
                  <h2 class="page-header">Safety</h2>

                  <p style="font-weight:bold;"> Choose your ride wisely</p>

                  <p> By using noompang, make sure that your friend is really your friend. Nothing can guarantee your safety except yourself. Make sure you pick the right rides with the right people
                  </p> <br>

                  <p style="font-weight:bold;"> Gather your friends info</p>

                  <p> Noompang suggest you to find your friend's information in your friend network. Always check your friends account by asking them or ask her/his friends. By doing so, our ecosystem will be secure.
                  </p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row copyright">
          <p style="text-align:center; padding: 20px 0 40px 0;"> © Copyright 2017, Noompang, Inc. All rights reserved. </p>
        </div>

            <%= render 'about_nav'%>
