<%= render 'about_nav'%>

        <div class="container container-about-us">
          <div class="row about-section">
            <img class="about-img" src="/images/about/hiw-img.png" id="about-img"></img>
              <%= render 'sidebar'%>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                  <div class="about-content">
                    <h2 class="page-header">Ketentuan dan Persyaratan Penggunaan</h2>
<b>1. Hubungan Rekanan</b>
<p>BACALAH PERSYARATAN INI DENGAN SAKSAMA SEBELUM MENGAKES ATAU MENGGUNAKAN LAYANAN.<p>
<p>Akses dan penggunaan Anda terhadap layanan Noompang terikat oleh persyaratan ini yang membentuk hubungan rekanan antara Anda denga Noompang. Apabila Anda tidak menyetujui persyaratan ini maka Anda tidak diperkenankan untuk menggunakan layanan yang tersedia. Noompang dapat secara langsung menghentikan layanan Anda, atau secara umum menolak akses seluruh atau seabgian layanan, kapan pun dan untuk alasan apa pun.<p>
<p>Persyaratan tambahan mungkin berlaku terhadap Layanan tertentu, seperti kebijakan atas suatu acara khusus, kegiatan atau promosi, dan persyaratan tambahan tersebut akan diungkapkan kepada Anda terkait dengan Layanan yang berlaku. Persyaratan tambahan merupakan akan dianggap sebagai bagian dari persyaratan ini untuk tujuan Layanan yang berlaku.<p/>
  <p>
Noompang dapat mengubah Persyaratan terkait Layanan dari waktu ke waktu. Perubahan tersebut akan berlaku setelah Noompang mengumumkan Persyaratan yang sudah diperbarui. Akses atau penggunaan Anda yang berkelanjutan atas Layanan Noompang setelah pengumuman merupakan bentuk persetujuan Anda untuk terikat pada persyaratan yang telah diperbarui.</p>
<br>
<b>2. Layanan</b>
<p>
Layanan mencakup platform teknologi yang memungkinkan para pengguna aplikasi seluler atau situs web Noompang untuk mengatur jadwal transportasi dan/atau layanan logistik. Pengaturan dan penyebaran jadwal dilakukan berdasarkan mekanisme “Friend”. Mengani penyediaan layanan, <b>ANDA MENGAKUI BAHWA NOOMPANG TIDAK MENYEDIAKAN LAYANAN TRANSPORTASI ATAU LOGISTIK ATAU BERFUNGSI SEBAGAI MASKAPAI TRANSPORTASI. SELURUH LAYANAN TRANSPORTASI ATAU LOGISTIK DISEDIAKAN OLEH KONTRAKTOR PIHAK KETIGA INDEPENDEN YANG TIDAK DIPEKERJAKAN OLEH NOOMPANG.</b></p><br>
<b>Pemilihan Teman </b><p>
Fitur pemilihan teman merupakan wewenang dan tanggung jawab Anda sepenuhnya dalam memilih pengguna yang dimasukkan ke dalam daftar teman. Interaksi yang terjadi antar pengguna pada daftar teman Anda merupakan tanggung jawab Anda sepenuhnya. Noompang tidak bertanggung jawab atas interaksi yang terjadi. Noompang akan memberikan informasi mengenai perjalanan Anda kepada pengguna yang terdapat pada daftar teman Anda. Dengan memasukkan pengguna Noompang pada daftar teman Anda, <b>ANDA MEMBERIKAN HAK PADA NOOMPANG UNTUK MENYEBARKAN INFORMASI JADWAL PERJALANAN PADA PENGGUNA YANG TERDAPAT PADA DAFTAR TEMAN ANDA.</b></p><br>
<b>Penyebaran Informasi Jadwal Perjalanan</b>
<p>
Penyebaran informasi jadwal perjalanan hanya dilakukan pada pengguna yang telah menjadi bagian pada daftar teman Anda. Selanjutnya, dengan menambah pengguna pada daftar teman Anda, maka Anda memberikan hak bagi pengguna tersebut untuk melakukan “repost” terhadap posting jadwal perjalanan Anda pada daftar teman masing-masing.
Pembatasan</p>
<p>
Anda dilarang: (i) mengakibatkan atau menjalankan program atau skrip apa pun untuk tujuan scraping, pengindeksan, survei, atau penggalian data lainnya atas bagian apa pun dari Layanan atau secara tidak sah memberatkan atau menghalangi operasional dan/atau fungsionalitas aspek mana pun dari Layanan; atau (ii) berusaha untuk mendapatkan akses yang tidak sah atau mengganggu aspek mana pun dari Layanan atau sistem atau jaringannya yang terkait. </p>
<br>

<b>3. Penggunaan Anda atas Layanan ini</b>

<b>Akun Pengguna</b><br>
  <p>
Untuk menggunakan Layanan, Anda harus mendaftar dan memelihara akun Layanan pengguna pribadi yang aktif. Pendaftaran akun mewajibkan Anda untuk menyerahkan informasi pribadi yakni nama dan alamat email. Anda setuju untuk menjaga keakuratan, kelengkapan, dan pembaruan informasi akun Anda. Apabila Anda gagal menjaga keakuratan, kelengkapan, dan pembaruan informasi maka Anda tidak diperkenankan menggunakan layanan Noompang atau Noompang menghentikan perjanjian dengan Anda. Kegiatan yang terjadi pada Akun anda seluruhnya menjadi tanggung jawab Anda dan Anda setuju untuk menjaga keamanan dan kerahasiaan nama pengguna serta kata sandi akun Anda sepanjang waktu.</p>
<br>
<b>
Persyaratan Khusus Penawaran Ride (‘Offer Ride’)</b>
<p>
Layanan penawaran perjalanan (‘Offer Ride’) dikhususkan untuk pengguna Layanan Noompang yang minimal berumur 17 tahun, memiliki Surat Izin Mengemudi (SIM) aktif, dan memegang Surat Tanda Nomor Kendaraan (STNK) aktif yang digunakan. Dengan memberikan informasi penawaran perjalanan (‘Offer Ride’) maka pengguna telah menyetujui persyaratan ini. Pengguna dapat sewaktu-waktu diperlukan untuk menunjukkan dokumen asli yang telah disebutkan.</p>
<br>
<b>Konten yang Disediakan Pengguna</b>
<p>
Noompang mengizinkan Anda untuk mengirimkan, mengunggah, mempublikasikan, dan menyediakan kepada Noompang konten pengguna berupa konten tekstual, audio, dan/atau visual. Setiap konten pengguna yang Anda sediakan tetap menjadi hak milik Anda. Namun, dengan menyediakan Konten Pengguna kepada Noompang, Anda memberikan Noompang lisensi bebas royalti dan tidak dapat dicabut kembali untuk Noompang menggunakan konten tersebut dalam keperluan promosi. Konten Pengguna yang Anda berikan kepada Noompang dapat digunakan oleh Noompang tanpa pemberitahuan lebih lanjut atau persetujuan dari Anda, dan tanpa kewajiban membayar Anda atau pihak lainnya.</p>
<p>
Anda menyatakan dan menjamin bahwa: (i) baik Anda sebagai pemilik tunggal dan eksklusif dari semua Konten Pengguna atau Anda memiliki hak, lisensi, persetujuan dan pelepasan yang diperlukan untuk memberikan Noompang lisensi atas Konten Pengguna sebagaimana tercantum di atas; (ii) tidak satu pun Konten Pengguna atau pengiriman, pengunggahan, publikasi atau penyediaan lainnya atas Konten Pengguna tersebut atau penggunaan Noompang atas Konten Pengguna sebagaimana diizinkan dalam perjanjian ini akan menyalahi, menyalahgunakan, atau melanggar kekayaan intelektual atau hak milik pihak ketiga, atau hak publikasi atau privasi, atau mengakibatkan pelanggaran terhadap peraturan dan undang-undang yang berlaku.
Anda setuju untuk tidak menyediakan Konten Pengguna yang bersifat memfitnah, mencemarkan nama baik, penuh kebencian, kasar, cabul, pornografi, tidak sah, atau menyinggung perasaan, sebagaimana ditentukan oleh Noompang atas kebijakannya sendiri, baik materi tersebut mungkin dilindungi oleh hukum atau tidak. Noompang dapat menghapus konten pengguna untuk alasan apa pun tanpa pemberitahuan kepada Anda terlebih dahulu.</p>
<br>
<b>Akses dan Perangkat Jaringan</b>
<br>
<p>
Penggunaan akses jaringan data yang diperlukan untuk menggunakan layanan merupakan tanggung jawab Anda. Tarif dan biaya data dari perangkat yang Anda gunakan merupakan tanggung jawab Anda. Noompang tidak menjamin bahwa laynan akan berfungsi pada seluruh perangkat keras. Selain itu, layanan mungkin dapat tidak berfungsi dengan baik dan terjadi penundaan akibat akses data internet dan komunikasi elektronik.</p>
<br>
<b>4. Pembayaran</b><br>
<b>
Ketentuan Pembayaran Penumpang</b>
<p>
Transaksi pembarayan dilakukan oleh Anda kepada Penyedia Penyedia Transportasi Pihak Ketiga. Jumlah pembayaran dilakukan melalui persetujuan antara Anda dengan Pihak Penyedia Transportasi Pihak Ketiga sebelum memulai perjalanan. Pembayaran dapat dilakukan melalui tunai, transfer, atau metode yang telah disetujui Anda dengan Pihak Ketiga. Dengan dimulainya perjalanan, Anda telah menyetujui persyaratan biaya yang diberikan oleh Pihak Ketiga. Seluruh biaya perjalanan yang ditanggung oleh Anda harus segera dibayarkan. Keterlambatan pembayaran dapat menyebabkan pemberhentian sementara Akun Anda.</p>
<br>
<b>
5. Sanggahan; Pembatasan Kewajiban; Penggantian Kerugian.
SANGGAHAN.</b>
<br>
<b><p>
LAYANAN DIBERIKAN “SEBAGAIMANA ADANYA” DAN “SEBAGAIMANA TERSEDIA.” NOOMPANG MENYANGGAH SEMUA PERNYATAAN DAN JAMINAN, YANG TERSURAT, TERSIRAT ATAU BERSIFAT HUKUM, YANG TIDAK DIURAIKAN SECARA TEGAS DALAM PERSYARATAN INI, TERMASUK JAMINAN YANG TERSIRAT ATAS KELAYAKAN JUAL, KECOCOKAN AKAN TUJUAN TERTENTU DAN NON-PELANGGARAN. SELAIN ITU, NOOMPANG TIDAK MENYATAKAN, MENJAMIN, ATAU MENGGARANSI APA PUN SEHUBUNGAN DENGAN KEANDALAN, KETEPATAN WAKTU, MUTU, KELAYAKAN ATAU KETERSEDIAAN LAYANAN ATAU SETIAP LAYANAN ATAU BARANG YANG DIMINTA MELALUI PENGGUNAAN LAYANAN ATAU BAHWA LAYANAN AKAN TIDAK TERGANGGU ATAU BEBAS KESALAHAN. NOOMPANG TIDAK MENJAMIN MUTU, KELAYAKAN, KEAMANAN, ATAU KEMAMPUAN DARI PENYEDIA PIHAK KETIGA. ANDA SETUJU BAHWA RISIKO KESELURUHAN YANG TIMBUL DARI PENGGUNAAN ANDA ATAS LAYANAN, DAN SETIAP LAYANAN ATAU BARANG YANG DIMINTA YANG TERKAIT, TETAP MENJADI RISIKO ANDA SENDIRI, SEJAUH DIIZINKAN OLEH HUKUM YANG BERLAKU.
PEMBATASAN TANGGUNG JAWAB.
NOOMPANG TIDAK BERTANGGUNG JAWAB ATAS KERUGIAN TIDAK LANGSUNG, INSIDENTAL, KHUSUS, TAMBAHAN, KONSEKUENSIAL, TERMASUK KERUGIAN KEUNTUNGAN, KEHILANGAN DATA, CEDERA PRIBADI ATAU KERUSAKAN PROPERTI YANG TERKAIT DENGAN, SEHUBUNGAN DENGAN, ATAU DIAKIBATKAN OLEH PENGGUNAAN LAYANAN, MESKI NOOMPANG TELAH DIBERI TAHU AKAN KEMUNGKINAN KERUGIAN TERSEBUT. NOOMPANG TIDAK AKAN BERTANGGUNG JAWAB ATAS KERUSAKAN, KEWAJIBAN, ATAU KERUGIAN YANG TIMBUL KARENA: (i) PENGGUNAAN ATAU KETERGANTUNGAN ANDA TERHADAP LAYANAN ATAU KETIDAKMAMPUAN ANDA MENGAKSES ATAU MENGGUNAKAN LAYANAN; ATAU (ii) TRANSAKSI ATAU HUBUNGAN APA PUN ANTARA ANDA DENGAN PENYEDIA PIHAK KETIGA MANA PUN, MESKI NOOMPANG TELAH DIBERI TAHU AKAN KEMUNGKINAN KERUGIAN TERSEBUT. NOOMPANG TIDAK BERTANGGUNG JAWAB ATAS PENUNDAAN ATAU KEGAGALAN KINERJA YANG TERJADI KARENA SEBAB-SEBAB DI LUAR KENDALI WAJAR. ANDA MENGAKUI BAHWA PENYEDIA TRANSPORTASI PIHAK KETIGA YANG MENYEDIAKAN LAYANAN TRANSPORTASI YANG DIMINTA MELALUI BEBERAPA MEREK PERMINTAAN MUNGKIN MENAWARKAN BERBAGI TUMPANGAN ATAU LAYANAN TRANSPORTAI ANTAR-REKAN DAN MUNGKIN TIDAK MEMPUNYAI LISENSI ATAU IZIN PROFESIONAL.


LAYANAN NOOMPANG DAPAT DIGUNAKAN OLEH ANDA UNTUK MEMINTA DAN MENJADWALKAN LAYANAN TRANSPORTASI, BARANG ATAU LOGISTIK DENGAN PENYEDIA PIHAK KETIGA, NAMUN ANDA SETUJU BAHWA NOOMPANG TIDAK BERTANGGUNG JAWAB ATAU BERKEWAJIBAN KEPADA ANDA TERKAIT LAYANAN TRANSPORTASI, BARANG ATAU LOGISTIK MANA PUN YANG DISEDIAKAN KEPADA ANDA OLEH PENYEDIA PIHAK KETIGA SELAIN YANG SECARA TEGAS DISEBUTKAN DALAM PERSYARATAN INI.
PEMBATASAN DAN SANGGAHAN DALAM PASAL 5 INI TIDAK BERARTI UNTUK MEMBATASI KEWAJIBAN ATAU MENGUBAH HAK ANDA SEBAGAI KONSUMEN YANG TIDAK DAPAT DIKECUALIKAN MENURUT HUKUM YANG BERLAKU.</b>
</p>
<br>
<br>
<br>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row copyright">
          <p style="text-align:center; padding: 20px 0 40px 0;"> © Copyright 2017, Noompang, Inc. All rights reserved. </p>
        </div>
