/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgba(212, 216, 212, 0.25);
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
}
.navbar {
  background-color: #1E2D4E;
  color: white;
  border-bottom-width: 0px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.36);
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #778899;
}

#search-form {
  color: black;
}

.post-panel {
  margin-top: -21px;
}

.post-title {
  text-align: left;
  margin-left: 10px;
}
.post-content {
  text-align: left;
  margin-left: 10px;
}

.post-links {

}

.post-owner {
  color: black;
  font-weight: bold;
}

.post-date-time {
  color: #1E2D4E;
  font-weight: bold;
  font-size: 23px;
}

.post-destination {
  color: #808080;
  font-size: 14px
}

.post-reposter {
  color: #A8A8A8;
  font-size: 12px;
}

.post-creation {
  opacity: 65%;
}

.avatar {
  width: 40px;
  height: 40px;
}

.avatar-post {
  margin-top: 5px;
}

.socmed {
  width: 20px;
  height: 20px;
}
