/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import url('https://fonts.googleapis.com/css?family=Cabin:100,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #e9ebee;
  font-family: Arial, sans-serif;
  overflow-x: hidden;

}

ul {
  padding: 0;
  margin: 0;
}

p {
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 12px;
}

h1,h2,h3,h4 {
  font-family: Arial, sans-serif;
}

h1{
  font-weight: 600;
  font-size: 40px;
}


.bg-devise {
  background: url(../bgsign.png);
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-color: #1e2f4d;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.home {
  padding-top: 70px;
}

@media (max-width: 450px){
  .home {
    padding-top: 60px;
  }
}
//paddings
.prnol {
  padding-right: 0px;
}

.plnol {
  padding-left: 0px
}
//mobile padding
@media (max-width: 450px){
  .mpl {
    //mobile padding left
    padding-left: 0px;
  }
  .mpr {
    //mobile padding right
    padding-right: 0px;
  }
}

//mobile margin
@media (max-width: 450px){
  .mml {
    //mobile margin left
    margin-left: 0px;
  }
  .mmr {
    //mobile margin right
    margin-right: 0px;
  }
  .mmli {
    //mobile margin left inverse
    margin-left: 10px;
  }
  .mmri {
    //mobile margin left inverse
    margin-right: 10px;
  }
}

.mbth {
  //margin bottom half
  margin-bottom: 5px;
}
.mtph {
  //margin top half
  margin-top: 5px;
}

.pbth {
  //padding bottom half
  padding-bottom: 5px;
}

.ptph {
  //padding top half
  padding-top: 5px;
}


//general components
.lbbg {
  //light blue background
  background-color:#eff9fe;
  border-radius:5px;
}
.lgbg {
  //light grey background
  background-color:#efefef;
  border-radius:5px;
}

//columns
@media (max-width: 450px){
  .timeline-column {
    padding-left: 0px;
    padding-right: 0px;
  }
}
#search-form {
  color: black;
}

@media (max-width:4150px){
  #mobile-container {
    padding: 0 0 0 0;
  }
}

@media (min-width: 576px) {
  .profile-header {
    padding: 20px 5px 20px 50;
  }
}

@media (max-width: 360px) {
  #userbutton > li {
    margin: 15px 0 10px 20px;
    display: inline-block;
  }
}
@media (min-width: 374px) {
  #userbutton > li {
    margin: 15px 0 10px 40px;
    display: inline-block;
  }
}

@media (min-width: 767px) {
  #userbutton > li {
    margin: 0px 0 0px 20px;
    display: inline-block;
  }
}
// Panels

.panel .panel-default {
  border-radius: 3px;
}

.about-panel {
  line-height: 22px;
}
.post-panel {
  margin-top: -17px;
}

@media(max-width:415px){
  #post-panel {
    border-radius: 0;
    margin-bottom: 15px;
  }
}
.panel {
  border-radius: 3px;
}



@media(max-width:420px){
  .panel {
    border-radius: 0;
    margin-bottom: 5px;
  }
}

@media(min-width:420px){
  #panel-about li{
    display: inline-block;
    color: #8a8f9c;
    font-size: 12px;
    line-height: 19px;
  }
  #panel-about li::After {
    margin-left: 4px;
  }
}


.panel-title {
  border-bottom:solid 0.3px;
  border-color: #e3e3e3
}

@media(max-width:415px){
  .friends-panel {
    padding: 0;
  }
  .friends-panel-body {
    padding: 10px 0 10px 0;
  }
}

@media(max-width:992px){
  .friends-panel {
    padding-left: 5px;
    padding-right: 5px;
  }
  .friends-panel-body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media(max-width:768px){
  #about-user-panel {
    padding: 0;
  }
}

@media(max-width:450px){
  #left-panels {
    display: none;
  }
}

//field css for sign in, sign up, etc

.sign-user-logo {
  background: url(/images/signin_icon.png) no-repeat scroll 10px 15px;
}

.sign-password-logo {
  background: url(/images/lock_icon.png) no-repeat scroll 10px 15px;
}

.sign-at-logo {
  background: url(/images/at_icon.png) no-repeat scroll 10px 15px;
}

.sign-email-logo {
  background: url(/images/email_icon.png) no-repeat scroll 10px 15px;
}

.plc-clr::-webkit-input-placeholder {
  color: #e3e3e3;
}

.form-margin{
  padding: 0 20px 0 20px;
}

.btn-form{
    background-color: #304262;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-form:hover{
    background-color: #202c42;
}

//post rides
.ride-hover:hover {
     box-shadow: 1px 2px 1px 1px #b0b0b0;
    -webkit-transition:  box-shadow .05s ease-in;
}
.avatar-post {
  max-height: 40px;
  border-radius: 50%;
}
//Post rides driver
.avatar-hover:hover {
  background-color: #f4f5f7;
}
.ride-hover-master:hover {
  background-color: #f4f5f7;
}
.avatar-post-pass {
  max-height: 30px;
  border-radius: 50%;
}
.statm {
  margin-top: 10px;
  padding: 5px 0px 5px 10px;
}
.statm-show {
  margin-top: 8px;
  padding: 5px 0px 5px 0;
}

@media (max-width:450px){
  .friend-request-avatar {
    padding-left: 0px;
  }
  .statm {
    margin: 10px 0 0 10px;
  }
  .statm-show {
    margin-top: 8px;
    padding: 5px 0px 5px 0;
  }
}

@media (max-width: 350px){
  .statm {
    margin: 2px 0 0 10px;
  }
}

//timline tab
.post-tab-ul {
  font-size: 0;
  position: relative;
  padding: 0;
  margin: 2px 0 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.post-tab-li {
  display: inline-block;
  font-size: 14px;
  width: 33.3%;
  height: 50px;
  background: white;
  text-align: center;
  line-height: 50px;
  color: black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
    box-shadow: 0 2px 0px rgba(0,0,0,0.04);
}

.post-tab-li:hover {
 background-color: #efefef;
}

.post-tab-slider {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 4px solid;
  border-color:  #19478a;

}

.post-tab-profile-ul {
  font-size: 0;
  position: relative;
  padding: 0;
  margin: 2px 0 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.post-tab-profile-li {
  display: inline-block;
  font-size: 14px;
  width: 33.3%;
  height: 50px;
  background: white;
  text-align: center;
  line-height: 50px;
  color: black;
  position: relative;
  overflow: hidden;
  cursor: pointer;
    box-shadow: 0 2px 0px rgba(0,0,0,0.04);
}

.post-tab-profile-li:hover {
 background-color: #efefef;
}

.post-tab-profile-slider {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 4px solid;
  border-color:  #19478a;

}
//css navbar responsive
.navbar {
  background-color: #19478a;
  color: white;
  border-bottom-width: 0px;
}

.navbar-default .nav-user > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #778899;
}

#search-field {
  padding-right: 10px;
}

@media (max-width: 450px){
  #search-field {
    padding-left: 25px;
  }
  .navbar-collapse {
    box-shadow: none;
    border-top: 0px;
  }
  .nav-dropdown {
    padding-top: 10px
  }
  #nav-profile-dropdown {
    padding-left: 0px;
  }
  #search-input {
    width: 220px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e9ebee;
  }

}
p#text-dropdown{
  display: inline-block;
}

.profile-dropdown {
  padding-bottom: 10px;
}
@media (min-width: 450px){
  p#text-dropdown{
    display: none;
  }
  p.glyphicon {
    color:white;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #18263d;
}

@media (max-width: 450px){
  .navbar-default .navbar-nav > li > a {
    color: #e9ebee;
  }
}
.badge {
  background-color: #eb5143;
  margin-top: 2px;
  margin-left: -6px;
  position: absolute;
}

.form-search-input{
  width: 250px;
  height: 30px;
  border: 0px;
  outline: 0px;
  font-size: 12px;
  padding: 0px 0px 0px 10px;
  color: #19478a;
  transition: all 0.5s;
}

.form-search-box{
  padding: 0 0 0 0;
}
.search-input-open {
  width: 250px !important;
  padding: 0px 0px 0px 20px !important;
  display: initial !important;
}

.form-search-submit{
  display: inline-block;
  width: 55px;
  padding-top: 15px;
  border: 0;
  outline: 0;
  background-color: #19478a;
  font-size: 14px;
  color: #18263d;
  cursor: pointer;
  text-align: center;
}

#navbar-collapse {
  border: 0px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:  #18263d;
}

.navbar-default .navbar-toggle .white-bar {
    background-color: white;
}

// Valdi index css code
.log-in {
  float: right;
  padding: 20px;
  margin-top: 0%;
}
.sign-up {
  float: right;
  padding: 20px;
  margin-top: 0%;
}
//application
.profile-hvr::hover{
  background-color: grey;
}

.input-group {
  border-radius: 5px;
}




//edit profile
.profile-gender{
  padding: 5px 0 0 20px;
}
@media (max-width: 450px){
  .profile-edit-column {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width:450px) {
  .profile-gender{
    padding: 20px 0 0 0;
  }
}

//search css
.avatar-find {
  max-height: 60px;
}

//friends of css
@media (min-width: 450px) {
  #friend-status {
    padding-top: 15px;
  }
}
@media (max-width: 450px) {
  #friends-of {
    padding-left:0;
    padding-right: 0;
  }
}
//button css
.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
  border-top: 4px solid;
  border-color:  #19478a;
  color: black;
  background-color: white;
}

.nav-pills > li.active > a:hover{
  border-top: 4px solid;
  border-color:  #19478a;
  color: black;
  background-color: #efeeee;
}

.nav-pills > li > a:hover{
  border-top: 4px solid;
  border-color:  #efeeee;
  color: black;
  background-color: #efeeee;
}

.nav-pills > li > a {
    border-radius: 0px 0px 0px 0px;
    color: black;
}

.btn-inverse {
  border: 0.5px solid;
  border-color: #337ab7;
  padding: 1px 10px 1px 10px;
  border-radius: 3px;
  font-size: 12px;
  background-color: white;
  color:#337ab7;
  line-height: 18px;
}
.btn-inverse:hover {
  color: white;
  border-color: #276091;
  background-color: #276091;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-accept {
  border: 0.5px solid;
  border-color: #337ab7;
  padding: 1px 10px 1px 10px;
  border-radius: 3px;
  font-size: 12px;
  background-color: #337ab7;
  color:white;
  line-height: 18px;
}
.btn-accept:hover {
  color: white;
  border-color: #276091;
  background-color: #276091;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

@media (max-width:450px){
  .friends-text-btn{
    font-size: 10px;
  }
}
//form-post
.form-post-modal {
  content: "";
  background-color: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.nav-pills >li >a {
  border-radius: 0px 0px 0px 0px;
}
@media (max-width: 450px) {
  .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
  .nav-pills > li + li {
    margin-left: 0px;
  }
}

//components-rides
.post-creation {
  float: right !important;
  font-size: 12px;
  color: #636c72 !important;
}

.post-icon {
  text-align: left;
  margin-left: 10px;
}

.post-repost {
  text-align: left;
  margin-left: 10px;
  font-weight: 400;
  color: grey;
}

@media (max-width:768px){
  #post-image-avatar{
    padding-left: 0;
  }
}

/*basic Properties */
.row {
  margin:0 0 0 0;
  content: " ";

}
/*margins*/
.margin-bottom{
  margin-bottom: 10px;
}

.center-img{
  margin: auto;
}
/*top navbar-index */
.navbar-index {
  min-height: 50px;
  background-color: white;
  padding: 10px 0 10px 0;
  box-shadow: 2px 1px 2px #cfcfcf;
}

.navbar-index-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
}


.navbar-index-nav > li > a {
  padding: 0 0 0 0;
  line-height: 15px;
}

.navbar-index-nav > li {
  font-family: 'cabin', sans-serif;
  font-weight:600;
  font-size: 20px;
  color: #346094;
  letter-spacing: 2px;
  padding: 5px 0 0   0;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .navbar-index {
    margin: 0px 0 20px 0;
    padding: 0;
  }
}

.navbar-index-default .navbar-index-nav > li > a {
  color: #1e2c4f;
}
.navbar-index-default .navbar-index-nav > li > a:hover,
.navbar-index-default .navbar-index-nav > li > a:focus {
  color: #346094;
  background-color: transparent;
}

.navbar-index-default .navbar-index-nav > .active > a,
.navbar-index-default .navbar-index-nav > .active > a:hover,
.navbar-index-default .navbar-index-nav > .active > a:focus {
  color: #131d28;
  background-color: #e7e7e7;
}
.navbar-index-default .navbar-index-nav > .disabled > a,
.navbar-index-default .navbar-index-nav > .disabled > a:hover,
.navbar-index-default .navbar-index-nav > .disabled > a:focus {
  color: #131d28;
  background-color: transparent;
}
.navbar-index-default .navbar-index-toggle {

}
.navbar-index-default .navbar-index-toggle:hover,
.navbar-index-default .navbar-index-toggle:focus {
  background-color: transparent;
}
.navbar-index-default .navbar-index-toggle .icon-bar {
  background-color: #346094;
}

.navbar-index-default .navbar-index-collapse,
.navbar-index-default .navbar-index-form {
  border-color: #e7e7e7;
}
.navbar-index-default .navbar-index-nav > .open > a,
.navbar-index-default .navbar-index-nav > .open > a:hover,
.navbar-index-default .navbar-index-nav > .open > a:focus {
  color: #555;
  background-color: #131d28;
}



@media (min-width: 768px) {
  .navbar-index-toggle {
    display: none;
  }
}

.bg-home {
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #e9ebee;
  background-position: center;;
  height: 1000px;
}

// recommended panel
@media (min-width:450px){
  .recommended-avatar{
    padding-left: 5px;
  }
}
.recommended-title {
  text-align: left;
  margin-top: -10px;
}
/*style header (incl. tagline) */

.header{
  margin: 110px 0 0 0;
}
@media (min-width: 768px) {
  .header {
    margin-top: 80px;
  }
}


@media (max-width: 767px) {
  .bg-home {
    background-repeat: no-repeat;
    background-size:cover;
    background-color: #e9ebee;
  }
}
.logo-small {
  max-height: 45px;
  margin-top: 0;
}
@media (max-width: 767px) {
  .logo-small {
    padding-top: 5px;
    padding-left: 20px;
    max-height: 40px;
    margin-top: 3px;
  }
}

/*header tagline properties */

.header .content-title > h2{
  color: #304262;
  font-family: 'cabin', sans-serif;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 1px;
  padding: 50px 0 15px 0;
  margin: 0 20px 0 20px;
  text-align: left;
}

@media (max-width: 767px) {
  .header .content-title > h2 {
    color: #304262;
    font-family: 'cabin', sans-serif;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.5px;
    padding: 0 5px 15px 5px;
    margin: 0 0 0 0;
    text-align: center;

  }
}

.header .content-text > p{
  padding: 0 40px 0 40px;
  color: #304262;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding: 0 0 0 0;
  margin: 0 20px 0 20px;
  text-align: left;
}

@media (max-width: 768px) {
  .header .content-text > p {
    color: #304262;
    font-family: 'cabin', sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding: 0 0 0px 0;
    letter-spacing: 1px;
    margin: 0 20px 0 20px;
    text-align: center;
  }
}


/*style for form & pic section*/
.form-section{
  margin-top: 10px;
  margin-bottom: 20px;
  height: 600px;
}

@media (max-width: 500px) {
  .form-section{
    text-align: center;
    padding: 0px;
    height: 750px;
  }
  .form-section h1{
    font-size: 20px;
  }
  .form-section h3{
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .form-section{
    height: 800px;
  }
}

#user-form {
  text-align: left;
  color: #304262;
  font-family: 'cabin', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

@media (max-width: 768px) {
  #user-form{
    text-align: center;
    padding: 0px;
    margin-bottom: 50px;
  }
}

.input-group .form-control {
  border-radius: 5px;
}

.form-control-index{
  background-color: #d4d9e1;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

.btn-primary-index{
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 30px 5px 30px;
}

.sign-up-form{
  margin-left:10%;
  margin-right: 10%;
}
@media (min-width: 350px){
  .sign-up-form{
    margin-top: 30px;
    margin-left:16.6667%;
    margin-right:16.6667%;
  }
  .sign-in-form{
    margin-top: 30px;
    margin-left:16.6667%;
    margin-right:16.6667%;
  }
}

@media (min-width: 400px){
  .sign-up-form{
    margin-top: 30px;
    margin-left:20%;
    margin-right:20%;
  }
}

@media (min-width: 400px){
  .sign-in-form{
    margin-top: 30px;
    margin-left:20%;
    margin-right:20%;
  }
}

@media (min-width: 1000px){
  .sign-up-form{
    margin-top: 30px;
    margin-left:0;
    margin-right:0
  }
  .sign-in-form{
    margin-top: 30px;
    margin-left:0;
    margin-right:0;
  }
}
/* css for phone image */
.homephone{
  margin: 0;
  text-align: center;
  max-height: 200px;
  padding: 0px 0 0 0px;
}
@media (min-width: 768px) {
  .homephone{
    text-align: center;
    max-height: 350px;
    padding: 50px 0 0 20px;
  }
}
@media (min-width: 1050px) {
  .homephone{
    max-height: 450px;
    padding: 50px 0 0 0px;
    text-align: center;
  }
}


/*footer css */
.footer-section{
  font-family: Arial, sans-serif;
  font-weight:400;
  font-size: 16px;
  color: #346094;
  text-align: left;
  background-color: white;
  padding: 35px 0 24px 0;
}

@media (max-width: 768px) {
  .footer-section{
    padding: 35px 5px 24px 5px;
  }
}



.col-sm-3{
  padding: 0;
}

/* all links in footer */
.info-footer{
  margin: 0px 0 20px 0;
}

@media (max-width: 768px) {
  .info-footer{
    margin: 0px 0 0 0;
  }
}
.info-footer li{

  display: inline-block;
  padding-right: 40px
}

.info-footer .media-social li{
  display: inline-block;
  padding-right: 30px
}
@media (max-width: 768px) {
  .media-social{
    text-align: center;
    margin-top: 10px;
  }
  .info-footer .media-social li{
    display: inline-block;
    padding-right: 15px;
  }
}

.info-footer .media-social p{
  font-size: 16px;
}

@media (max-width: 768px) {
  .info-footer li{
    display: inline-block;
    padding: 0px 8px 20px 8px;
    font-size: 15px;
  }
}

/*noompang copyright */
.copyright{

  margin: 5px 0 0 0;
  padding: 25px 0 0 0;
  font-weight: 400;
  color: #b5bac1;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .copyright{
    font-size: 12px;
  }
}


/*EXPLORE CSS CONTENT*/
.headerbg {
  height: 760px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: url(/images/explore/aboutusimg.jpg);
  background-repeat: no-repeat;
  background-color: #1e2c4f;
  background-position: center;
}
@media (max-width:768px) {
  .headerbg {
    height: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url(/images/explore/aboutusimg.jpg);
    background-repeat: no-repeat;
    background-color: #1e2c4f;
    background-position: center;
  }
}

/* content inside header img */
.riders-content {
  margin-top: 270px;
}

@media (max-width:768px) {
  .riders-content {
    margin-top: 180px;
  }
}
.riders-content li{
  display: inline-block;
  padding: 0 10px 0 10px;
}

.riders-content h1   {
  opacity: .95;
  font-weight: 500;
  font-size: 70px;
  color: white;
}
@media (max-width: 768px) {
  .riders-content h1   {
    opacity: .95;
    font-weight: 400;
    font-size: 25px;
    color: white;
    line-height: 36px;
  }
}

.riders-content h3  {
  color: white;
  font-family: Arial,sans-serif;
  font-weight: 300;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .riders-content h3  {
    color: white;
    font-family: Arial,sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 28px;
  }
}

#signinnav {
  padding: 10px 35px 10px 35px;
}

@media (max-width: 768px) {
  #signinnav {
    padding-right: 41px;
    padding-left: 43px;
  }
}

#aboutnav> li {
  display: inline-block;
}

#signupnav {
  padding: 10px 35px 10px 35px;
}
/*TIMELINE SECTION */

.application-section {
  margin: 20px 0 20px 0;
}
#timelineimg {
  max-height: 600px;
  padding: 50px 100px 50px 20px
}

@media (max-width: 1450px) {
  #timelineimg {
    max-height: 500px;
    padding: 30px 50px 30px 10px
  }
}

@media (max-width: 1200px) {
  #timelineimg {
    max-height: 600px;
    padding: 30px 50px 30px 50px
  }
}

@media (max-width: 768px) {
  #timelineimg {
    height: 220px;
    padding: 0 0 0 10px;
  }
}
@media (max-width: 350px) {
  #timelineimg {
    height: 200px;
    padding: 0 0 0 0px;
  }
}

.timeline-content{
  padding: 140px 10px 50px 150px;
}

@media (max-width: 1450px) {
  .timeline-content{
    padding: 60px 10px 20px 100px;
  }
}

@media (max-width: 992px) {
  .timeline-content{
    padding: 20px 20px 20px 30px;
  }
}
@media (max-width: 768px) {
  .timeline-content{
    padding: 20px 20px 40px 30px;
    text-align: center;

  }
}

@media (max-width: 768px) {
  .timeline-content h2{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }
}

.timeline-content p{
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  letter-spacing: -0.5px;
  line-height: 32px;
}

@media (max-width: 768px) {
  .timeline-content p{
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 22px;
  }
}

.timeline-content button{
  box-shadow: 0px 0px 0px rgba(14,20,33,0);
  padding: 15px 60px 15px 60px;
  margin: 40px 0 10px 0;
  line-height: normal;
}
.timeline-content button > p{
  font-size: 16px;
  line-height: normal;
}

/*BENEFIT SECTION */
.benefit-section {
  background-color: #233851;
  color: white;
  text-align: center;
  padding: 0px 60px 60px 60px;
}

@media (max-width: 768px) {
  .benefit-section {
    padding: 20px 0 60px 0;
  }
}
.benefit-section p{
  font-family: Arial, sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  .benefit-section p{
    font-size: 10px;
  }
}
.benefit-title {
  text-align: center;
  padding: 40px 0 20px 0 ;
}

@media (max-width: 768px) {
  .benefit-title {
    padding: 10px 0 20px 0;
  }
}

.benefit-title h2{
  padding: 0 0 30px 0;
  border-bottom: 1px solid white;
  font-weight: 500;
}

@media (max-width: 768px) {
  .benefit-title h2{
    font-size: 20px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid white;
    font-weight: 500;
  }
}

.benefit-inside{
  padding: 0 50px 0 50px;
}

@media (max-width:768px){
  .benefit-inside{
    padding: 0 10px 0 10px;
  }
}
@media (max-width:992px){
  .benefit-inside{
    padding: 0 10px 0 10px;
  }
}

.benefit-box {
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0 ;

}

.benefit-content {
  min-height: 330px;
  padding: 20px 10px 20px 10px;
  background-color: #284c70;
  box-shadow: -1px 3px 6px rgba(14,20,33,.7);
  margin: 5px 0 5px 0;
}

@media (max-width:768px){
  .benefit-content {
    padding: 20px 5px 20px 5px;
    min-height: 20px;
  }
}
@media (max-width:992px){
  .benefit-content {
    padding: 20px 5px 20px 5px;
  }
}

.benefit-content h3{
  padding: 5px 30px 5px 30px;
  font-size: 18px;
}

.benefit-content p{
  padding: 5px 30px 5px 30px;
  font-size: 14px;
}

@media (max-width:768px){
  .benefit-content h3{
    padding: 5px 5px 5px 5px;
  }
  .benefit-content p{
    padding: 5px 5px 5px 5px;
}}

@media (max-width:992px){
  .benefit-content h3{
    padding: 5px 10px 5px 10px;
  }
  .benefit-content p{
    padding: 5px 10px 5px 10px;
  }
}

@media (max-width:992px){
  .benefit-content h3{
    font-size: 15px;
  }
}
.benefit-content img {
  max-height: 80px;
}

.benefit-section button  {
  box-shadow: 0px 0px 0px rgba(14,20,33,0);
  padding: 15px 60px 15px 60px;
  margin: 40px 0 10px 0;
}

@media (max-width:768px){
  .benefit-section button  {
    box-shadow: 0px 0px 0px rgba(14,20,33,0);
    padding: 15px 60px 15px 60px;
    margin: 40px 0 10px 0;
  }
}

.benefit-section button  > p {
  font-size: 16px;
  font-weight: 500;
}

/*HOW IT WORKS SECTION */
.section-how-it-works {
  padding: 60px 0 0 0;
}
@media (max-width:768px){
  .section-how-it-works {
    padding: 0;
  }
}
/* Title */
.how-title{
  margin-top: 10px;
  margin-bottom:20px;
}
.how-title h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.how-title h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
}
@media (max-width:768px){
  .how-title h3 {
    font-size: 16px;
  }
}


.how-1{
  padding: 40px 0 10px 30px;
}
.how-2{
  padding: 10px 0 0px 0;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .how-2{
    margin-bottom: 0;
  }
}


.how-3{
  padding: 0px 0 10px 30px;
}

@media (max-width: 768px) {
  .how-title h2 {
    font-size: 20px
  }
}

@media (max-width: 768px) {
  .how-1 h3{
    font-size: 20px;
  }
  .how-2 h3{
    font-size: 20px;
  }
  .how-3 h3{
    font-size: 20px
  }
  .how-4 h3{
    font-size: 20px
  }

}


@media (max-width: 768px) {
  .how-1{
    padding: 10px 0 10px 0;
  }
  .how-2{
    padding: 10px 0 10px 0;
  }
  .how-3{
    padding: 10px 0 10px 0;
  }
}

/*HOW NO 1*/
#how-to-1-img{
  max-height: 200px;
}
@media (max-width: 768px){
  #how-to-1-img{
    max-height: 130px;
  }
}

/*HOW NO 2*/
.how-2 li  {
  display: inline-block;
}

.explore-friends{
padding: 0 50px 0 70px;
}
@media (max-width: 1400px){
  .explore-friends{
  padding: 0 50px 0 50px;
  }
}
@media (max-width: 992px){
  .explore-friends{
  padding: 0 50px 0 50px;
  }

@media (max-width: 768px) {
  .explore-friends{
  padding: 0 5px 0 5px;
  }
}
@media (max-width: 768px) {
    .how-1{
      padding: 10px 0 10px 0;
    }
    .how-2{
      padding: 10px 0 10px 0;
    }
    .how-3{
      padding: 10px 0 10px 0;
    }
  }
}

.friends-box {
  border-top: 0.3px solid #dddddd;
  padding: 10px 0 10px 0;
  margin: 0 20px 0 20px;
}
.friends-box p {
  width: 160px;
  font-weight: 500;
}
.friends-btn {
  padding-top: 15px;
}
.how-2 .btn  {
  padding: 5px 10px 5px 10px;
  margin: -2px 0 0 0;
  font-size: 12px;
  font-family: Arial, sans-serif;
  margin: 0 0 0 40px;
}

@media (max-width: 768px) {
  .how-2 .btn  {
    margin: 0;
  }
}
/*HOW NO 3*/
.input-group {
  margin: 0 0 22px 0;
}

@media (max-width: 768px) {
  .span2 {
    min-width: 105px;
    margin-bottom: 10px;
  }
}

.form-destination .form-control {
  padding: 10px 120px 10px 20px;
}

.form-group li {
  display: inline-block;
  padding-right: 5px
}

.form-group option {
  font-family: Arial, sans-serif;
  font-weight: 500;
}
.explore-form-post {
  padding-right: 90px;
}

@media (max-width:768px) {
  .explore-form-post {
    padding-right:0;
  }
  .explore-form-post h2{
    font-size: 20px;
    margin-bottom: 5px;
  }
  .explore-form-post h3{
    font-size: 15px;
    margin-bottom: 5px;
  }
}
.explore-form-post .btn {
    margin: -2px 0 0 0;
}

#day{
  padding-right: 0;
}
#month{
  padding-right: 0;
}
#year{
  padding-right: 0;
}

@media (max-width:768px) {
  .how-3 .how-content h3 {
    text-align: center;
  }
}

/*comment*/

.input-group .form-control-comment {
  margin-bottom: 0 0 20px 0;
  padding: 10px 290px 10px 20px;
}
@media (max-width:768px) {
  .input-group .form-control-comment {
    margin-bottom: 0;
    padding: 10px 0px 10px 0px;
    margin-left: 25px;
  }
}

.avatar-comment{
  text-align:center;
}

@media (max-width:768px) {
  .avatar-comment{
    padding: 0 0 0 0;
  }
}

/*HOW NO 4*/
.how-4 .how-content{
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 0;
}
.how-4 p{
  text-align: center;
}
#chatmsg {
  max-height: 400px;
  margin-top:35px
}

@media (max-width:768px) {
  #chatmsg {
    max-width: 200px;
  }
}

/*BASIC CONTENT for EXPLORE */

.how-content{
  padding: 30px 100px 30px 100px;
}

@media (max-width: 768px) {
  .how-content h1{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
  }
}

.how-content p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  letter-spacing: -0.5px;
  line-height: 32px;
}

@media (max-width: 768px) {
  .how-content p{
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 22px;
  }
}


@media (max-width: 1450px) {
  .how-content{
    padding: 10px 30px 20px 30px;
  }
}

@media (max-width: 992px) {
  .how-content{
    padding: 20px 30px 20px 30px;
  }
}
@media (max-width: 768px) {
  .how-content{
    padding: 20px 10px 20px 10px;
    text-align: center;
  }
}


//Home-application
.avatar-profile {
  max-height: 120px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 100%;
}



.avatar-recommended {
  max-height: 40px;
}

.avatar-nav {
  max-height: 35px;
  border-radius: 50%;
}

//==== About Us Page ===//
.navbar-about-collapse {
  display: none;
}
.about-section {
  background-color: white;
  margin-top: 65px;
}
@media (max-width:768px){
  .about-section {
    background-color: white;
    margin-top: 50px;
  }
}
.about-img {
  height: 200px;
  background-repeat: no-repeat;
}

#about-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (min-width:768px){
  .about-img {
    height: 200px;
  }
}

@media (min-width:992px){
  .about-img {
    height: 300px;
  }
}

@media (min-width:1200px){
  .about-img {
    height: 400px;
  }
}

@media (max-width:768px){
  .container-about-us {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
}

.sidebar {
  position: absolute;
  background-color: white;
  padding-top: 60px;
}
.sidebar li {
  padding-top: 10px;
}
.sidebar li > a {
  padding-left: 30px;
  font-weight: bold;
}
@media (max-width:768px){
  .sidebar {
    display: none;
  }
}


.about-content {
  padding: 0 35px 0 35px;
  line-height: 24px;
}

.fd img {
  max-height: 90px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 15px 10px 20px 15px
}

@media (min-width:768px){
  .fd img {
    max-height: 120px;
    margin: 30px 20px 20px 20px
  }
}
